<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bizfit.bizfitUusYritysKeskusAlpha">

    <!--
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
        HUOM!!
        koska kamera required on false, tarkista tarvittaessa että käyttäjällä on kamera
        boolean hasCamera = getPackageManager().hasSystemFeature(PackageManager.FEATURE_CAMERA);
        fragmentissa getActivity().jnejnejne
    -->
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <!-- TODO Atte, was ist das? -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".MyAlarmService" />

        <!-- Splash screen -->
        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="user"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- Uncomment for splash screen -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home view -->
        <activity
            android:name=".activities.MainPage"
            android:label="@string/app_name"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <!-- Login -->
        <activity
            android:name=".activities.LoginActivity2"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Settings -->
        <activity
            android:name=".activities.Settings"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Start a new goal -->
        <activity
            android:name=".activities.AddTracker"
            android:label="@string/title_new_goal"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateVisible" />

        <!-- Single tracker info -->


        <!-- Store page -->
        <activity android:name=".activities.CoachPage" />

        <!-- Support page -->
        <activity android:name=".activities.Support" />

        <!-- Security information page -->
        <activity android:name=".activities.Security" />

        <!-- Displays search results -->
        <activity android:name=".activities.Search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MessageActivity"
            android:label="@string/title_activity_message"
            android:parentActivityName=".activities.MainPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bizfit.bizfitUusYritysKeskusAlpha.activities.MainPage" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.OrderChat"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CustomCrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@style/ErrorDialogueTheme" />
        <activity
            android:name=".activities.KuvaTestiActivity"
            android:label="@string/title_activity_kuva_testi"
            android:theme="@style/AppTheme"></activity>

        <activity android:name=".activities.Profile" />
        <activity android:name=".activities.EditProfile" />
        <activity android:name="AudioRecordTest" />
        <activity android:name=".activities.CreateProfile" />

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

    </application>

</manifest>